<!DOCTYPE html>
{#<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->#}
{#<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->#}
{#<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->#}
{#<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->#}
	<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DQSQQ9HE31"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-DQSQQ9HE31');
    </script>


	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Luxe &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
    {% load static %}
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<link rel="shortcut icon" href="favicon.ico">
	<!-- <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700italic,900,700,900italic' rel='stylesheet' type='text/css'> -->
    <script src="https://kit.fontawesome.com/080759b160.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<!-- Stylesheets -->
	<!-- Dropdown Menu -->
	<link rel="stylesheet" href="{% static 'website/css/superfish.css' %}">
	<!-- Owl Slider -->
	<!-- <link rel="stylesheet" href="owl.carousel.css"> -->
	<!-- <link rel="stylesheet" href="owl.theme.default.min.css"> -->
	<!-- Date Picker -->
	<link rel="stylesheet" href="{% static 'website/css/bootstrap-datepicker.min.css' %}">
	<!-- CS Select -->
	<link rel="stylesheet" href="{% static 'website/css/cs-select.css' %}">
	<link rel="stylesheet" href="{% static 'website/css/cs-skin-border.css' %}">

	<!-- Themify Icons -->
{#	<link rel="stylesheet" href="{% static 'website/css/themify-icons.css' %}">#}
{#	<!-- Flat Icon -->#}
{#	<link rel="stylesheet" href="{% static 'website/css/flaticon.css' %}">#}
	<!-- Icomoon -->
	<link rel="stylesheet" href="{% static 'website/css/icomoon.css' %}">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="{% static 'website/css/flexslider.css' %}">
	<!-- Style -->
	<link rel="stylesheet" href="{% static 'website/css/style.css' %}">
	<!-- Modernizr JS -->
	<script src="{% static 'website/js/modernizr-2.6.2.min.js' %}"></script>
	<script src="{% static 'website/js/respond.min.js' %}"></script>

</head>
<body>
	<div id="fh5co-wrapper">
	<div id="fh5co-page">
	<div id="fh5co-header">

	<!-- parte del header             ----------------------------------------------------------------------------->
		<header id="fh5co-header-section">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
{#					<h1 id="fh5co-logo" style="font-style: italic"><a href="#" ><img style="size: 50%" src="{% static 'website/images/logo.png' %}" class="img-responsive" alt="Image"></a></h1>#}
{#					<img id="fh5co-logo" style="max-height: 30px; max-width: 180px" src="{% static 'website/images/logo.png' %}" class="img-responsive" alt="Image">#}
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li><a class="active" href={% url 'website:inicio' %}>Inicio</a></li>
							<li>
								<a class="fh5co-sub-ddown">Cabanas</a>
								<ul class="fh5co-sub-menu">
								 	<li><a href="https://www.airbnb.com.br/rooms/29879553" target="_blank">Viking House</a></li>
								 	<li><a href="https://www.airbnb.com.br/rooms/52535899" target="_blank">Tree House</a></li>
									<li><a href="ttps://www.airbnb.com.br/rooms/47358476" target="_blank">Moon House</a></li>
                                    <li><a href="https://www.airbnb.com.br/rooms/53971584" target="_blank">Star House</a></li>
								</ul>
							</li>
							<li><a class="fh5co-sub-ddown">Contato</a>
								<ul class="fh5co-sub-menu">
								 	<li><a href="https://wa.me/5512997097778?text=Olá, vi Jungle village na internet e queria obter mais informações" target="_blank">Whatsapp</a></li>
								 	<li><a href="https://www.instagram.com/jungle.villagemaresias/" target="_blank">Instagram</a></li>
								</ul>
                            </li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		
	</div>
	<!-- parte del carousel              ----------------------------------------------------------------------------->
	<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight" >
			<ul class="slides">
		   	<li style="background-image: url({% static 'website/images/tm_portada1.jpg'%});">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
{#                    <div class="col-md-12 col-md-offset-0 text-center slider-text">#}
{#                        <img id="fh5co-logo" style="max-height: 30px; max-width: 180px" src="{% static 'website/images/logo.png' %}" class="img-responsive" alt="Image">#}
{#                    </div>#}
		   			<div class="col-md-12 col-md-offset-0 text-center slider-text">
		   				<div class="slider-text-inner js-fullheight">
		   					<div class="desc">
                                <p><a><img class="center-block" style="max-height: 150px; max-width: 400px" src="{% static 'website/images/logo.png' %}"  alt="Image"></a></p>
		   						<p><span>Viking House</span></p>
		   						<h2 style="line-height: 1.5; font-family: Cursive ">Ambientação rústica</h2>
			   					<p>
			   						<a href="https://www.airbnb.com.br/rooms/29879553"  target="_blank" class="btn btn-primary btn-lg">Ver mais</a>
			   					</p>
		   					</div>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url({% static 'website/images/mh_portada.jpeg' %});">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-12 col-md-offset-0 text-center slider-text">
		   				<div class="slider-text-inner js-fullheight">
		   					<div class="desc">
                                <p><a><img class="center-block" style="max-height: 150px; max-width: 400px" src="{% static 'website/images/logo.png' %}"  alt="Image"></a></p>
		   						<p><span>Moon House</span></p>
		   						<h2 style="line-height: 1.5; font-family: Cursive ">Decoração romântica</h2>
			   					<p>
			   						<a href="ttps://www.airbnb.com.br/rooms/47358476"  target="_blank" class="btn btn-primary btn-lg">Ver mais</a>
			   					</p>
		   					</div>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url({% static 'website/images/th_portada.jpg' %});">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-12 col-md-offset-0 text-center slider-text">
		   				<div class="slider-text-inner js-fullheight">
		   					<div class="desc">
                                <p><a><img class="center-block" style="max-height: 150px; max-width: 400px" src="{% static 'website/images/logo.png' %}"  alt="Image"></a></p>
		   						<p><span>Tree House</span></p>
		   						<h2 style="line-height: 1.5; font-family: Cursive">Sinta a magia da natureza</h2>
			   					<p>
			   						<a href="https://www.airbnb.com.br/rooms/52535899"  target="_blank" class="btn btn-primary btn-lg">Ver mais</a>
			   					</p>
		   					</div>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
			<li style="background-image: url({% static 'website/images/sh_portada2.jpg' %});">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-12 col-md-offset-0 text-center slider-text">
		   				<div class="slider-text-inner js-fullheight">
		   					<div class="desc">
                                <p><a><img class="center-block" style="max-height: 150px; max-width: 400px" src="{% static 'website/images/logo.png' %}"  alt="Image"></a></p>
		   						<p><span>Star House</span></p>
		   						<h2 style="line-height: 1.5; font-family: Cursive">Conforto e aconchego</h2>
			   					<p>
			   						<a href="https://www.airbnb.com.br/rooms/53971584"  target="_blank" class="btn btn-primary btn-lg">Ver mais</a>
			   					</p>
		   					</div>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</aside>
{#        parte del datpicker para consultas ------------------------------------------------------------------------#}
{#	<div class="wrap">#}
{#		<div class="container">#}
{#			<div class="row">#}
{#				<div id="availability">#}
{#					<form action="#">#}
{##}
{#						<div class="a-col">#}
{#							<section>#}
{#								<select class="cs-select cs-skin-border">#}
{#									<option value="" disabled selected>Select Hotel</option>#}
{#									<option value="email">Luxe Hotel</option>#}
{#									<option value="twitter">Deluxe Hotel</option>#}
{#									<option value="linkedin">Five Star Hotel</option>#}
{#								</select>#}
{#							</section>#}
{#						</div>#}
{#						<div class="a-col alternate">#}
{#							<div class="input-field">#}
{#								<label for="date-start">Check In</label>#}
{#								<input type="text" class="form-control" id="date-start" />#}
{#							</div>#}
{#						</div>#}
{#						<div class="a-col alternate">#}
{#							<div class="input-field">#}
{#								<label for="date-end">Check Out</label>#}
{#								<input type="text" class="form-control" id="date-end" />#}
{#							</div>#}
{#						</div>#}
{#						<div class="a-col action">#}
{#							<a href="#">#}
{#								<span>Check</span>#}
{#								Availability#}
{#							</a>#}
{#						</div>#}
{#					</form>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
	
{#   parte das cabanas y resumo-------------------------------------------------------------------------------------------- #}

	<div id="featured-hotel" class="fh5co-bg-color" >
		<div class="container">

			<div class="row" style="margin-top: -80px">
				<div class="col-md-12">
                    <div class="text-center">
					  <h1>Cabanas</h1><br><br><br>
					</div>
				</div>
			</div>

			<div class="row" >
				<div class="feature-full-2col"  style="margin-top: -80px" >
					<div class="f-hotel" >
						<div class="image" style="background-image: url({% static 'website/images/tm_portada1.jpg' %}); ">
						</div>
						<div class="desc">
							<h3>Viking House</h3>
							<p>Ambiente único, rústico e romântico, toda feita de madeira. Conta grande gramado privativo</p>
							<p><a href="https://www.airbnb.com.br/rooms/29879553"  target="_blank" class="btn btn-primary btn-luxe-primary">Reservar<i class="ti-angle-right"></i></a></p>
						</div>
					</div>
					<div class="f-hotel"  >
						<div class="image" style="background-image: url({% static 'website/images/mh_portada.jpeg' %}); ">
						</div>
						<div class="desc">
							<h3>Moon House</h3>
							<p>Decoração romântica até o último detalhe, energia mágica que fará seus dias a dois inesquecíveis</p>
							<p><a href="https://www.airbnb.com.br/rooms/47358476"  target="_blank" class="btn btn-primary btn-luxe-primary">Reservar<i class="ti-angle-right"></i></a></p>
						</div>
					</div>
				</div>
                <div class="feature-full-2col"  style="margin-bottom: -100px" >
					<div class="f-hotel" >
						<div class="image" style="background-image: url({% static 'website/images/sh_portada2.jpg' %});">
						</div>
						<div class="desc">
							<h3>Star House</h3>
							<p>Confortavel e muito romântica, feita com madeiras nativas, iluminação moderna e aconchegante para noites de paixão</p>
							<p><a href="https://www.airbnb.com.br/rooms/53971584"  target="_blank" class="btn btn-primary btn-luxe-primary">Reservar<i class="ti-angle-right"></i></a></p>
						</div>
					</div>
					<div class="f-hotel" >
						<div class="image" style="background-image: url({% static 'website/images/th_portada.jpg' %});">
						</div>
						<div class="desc">
							<h3>Tree House</h3>
							<p>Encostado na mata atlântica com uma vista incrível, grande jardim privativo e área externa para se conectar com a natureza</p>
							<p><a href="https://www.airbnb.com.br/rooms/52535899"  target="_blank" class="btn btn-primary btn-luxe-primary">Reservar<i class="ti-angle-right"></i></a></p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>



{#           parte de servicios --------------------------------------------------------------------------------------  #}

    <section class="page-section" id="services">
            <div class="container">
{#                <div class="row" style="margin-top: 50px" >#}
{#                    <div class="col-md-12">#}
{#                        <div class="text-center">#}
{#                          <h1><br>Utilidades<br></h1><br>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="text-center">#}
{#                    <h2 class="section-heading text-uppercase">Services</h2>#}
{#                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>#}
{#                </div>#}
                <div class="row text-center">
                    <p><br></p>
                    <div class="col-md-4">
						<span><i class="material-icons w3-xxxlarge" style="color: #FF5722">pets</i></span>
                        <h4 class="my-4">Pet friendly</h4>
                        <p class="text-muted">Aqui seu pet será muito bem vindo e aproveitará muito o quintal com gramado ideal para eles, todos privativos, cercados e seguros para deixar eles à vontade</p>
                    </div>
                    <div class="col-md-4">
                        <span><i class="material-icons w3-xxxlarge" style="color: #FF5722">kitchen</i></span>
                        <h4 class="my-4">Cozinha completa</h4>
                        <p class="text-muted">As cabanas contam com cozinhas equipadas para você preparar suas refeições. Com geladeira, fogão, cafeteira, liquidificador e forninho elétrico. Além de todos os utensílios básicos</p>
                    </div>
                    <div class="col-md-4">
						<span><i class="material-icons w3-xxxlarge" style="color: #FF5722">ac_unit</i></span>
                        <h4 class="my-4">Ar condicionado</h4>
                        <p class="text-muted">As cabanas possuem ar condicionado, fundamental para poder dormir bem e descansar no clima tropical e quente da região</p>
                    </div>
                    <div class="col-md-4">
						<span><i class="material-icons w3-xxxlarge" style="color: #FF5722">	wifi</i></span>
                        <h4 class="my-4">Wi-fi</h4>
                        <p class="text-muted">Oferecemos wi fi fibra da vivo em todas as cabanas </p>
                    </div>
                    <div class="col-md-4">
                        <span><i class="material-icons w3-xxxlarge" style="color: #FF5722">tv</i></span>
                        <h4 class="my-4">Tv</h4>
                        <p class="text-muted">As cabanas possuem TV’s com tv a cabo premium para assistir suas programações favoritas, além de smartv para poder ver suas plataformas de streaming favoritas</p>
                    </div>
                    <div class="col-md-4">
						<span><i class="material-icons w3-xxxlarge" style="color: #FF5722">directions_car</i></span>
                        <h4 class="my-4">Estacionamento</h4>
                        <p class="text-muted">Cada cabana tem seu estacionamento dentro do seu próprio quintal</p>
                    </div>
                </div>
            </div>
    </section>


{#        #}
{#------------------------------------------------testimonials----------------------------------------#}
{#	<div id="testimonial">#}
{#		<div class="container">#}
{#			<div class="row">#}
{#				<div class="col-md-12">#}
{#					<div class="section-title text-center">#}
{#						<h2>Happy Customer Says...</h2>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#			<div class="row">#}
{#				<div class="col-md-4">#}
{#					<div class="testimony">#}
{#						<blockquote>#}
{#							&ldquo;If you’re looking for a top quality hotel look no further. We were upgraded free of charge to the Premium Suite, thanks so much&rdquo;#}
{#						</blockquote>#}
{#						<p class="author"><cite>John Doe</cite></p>#}
{#					</div>#}
{#				</div>#}
{#				<div class="col-md-4">#}
{#					<div class="testimony">#}
{#						<blockquote>#}
{#							&ldquo;Me and my wife had a delightful weekend get away here, the staff were so friendly and attentive. Highly Recommended&rdquo;#}
{#						</blockquote>#}
{#						<p class="author"><cite>Rob Smith</cite></p>#}
{#					</div>#}
{#				</div>#}
{#				<div class="col-md-4">#}
{#					<div class="testimony">#}
{#						<blockquote>#}
{#							&ldquo;If you’re looking for a top quality hotel look no further. We were upgraded free of charge to the Premium Suite, thanks so much&rdquo;#}
{#						</blockquote>#}
{#						<p class="author"><cite>Jane Doe</cite></p>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}




    <div class="row text-center align-content-center align-middle" style="background-color: #b3b3b3; height: 70px">
        <div class="align-content-center align-middle">
            <a href="https://wa.me/5512997097778?text=Olá, vi Jungle village na internet e queria obter mais informações" target="_blank">
                <i class="fab fa-whatsapp" style="font-size:30px"></i>
            </a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a  href="https://www.instagram.com/jungle.villagemaresias/" target="_blank">
                <i class="fab fa-instagram" style="font-size:30px"></i>
            </a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="https://m.facebook.com/junglevillagemaresias/" target="_blank">
                <i class="fab fa-facebook" style="font-size:30px"></i>
            </a>
        </div>
    </div>



	</div>
	<!-- END fh5co-page -->
	</div>
	<!-- END fh5co-wrapper -->
	
	<!-- Javascripts -->
	<script src="{% static 'website/js/jquery-2.1.4.min.js' %}"></script>
	<!-- Dropdown Menu -->
	<script src="{% static 'website/js/hoverIntent.js' %}"></script>
	<script src="{% static 'website/js/superfish.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'website/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'website/js/jquery.waypoints.min.js' %}"></script>
	<!-- Counters -->
	<script src="{% static 'website/js/jquery.countTo.js' %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static 'website/js/jquery.stellar.min.js' %}"></script>
	<!-- Owl Slider -->
	<!-- // <script src"{% static 'website/js/owl.carousel.min.js' %}"></script> -->
	<!-- Date Picker -->
	<script src="{% static 'website/js/bootstrap-datepicker.min.js' %}"></script>
	<!-- CS Select -->
	<script src="{% static 'website/js/classie.js' %}"></script>
	<script src="{% static 'website/js/selectFx.js' %}"></script>
	<!-- Flexslider -->
	<script src="{% static 'website/js/jquery.flexslider-min.js' %}"></script>

	<script src="{% static 'website/js/custom.js' %}"></script>

</body>
</html>